%h2 パッキングリスト一覧

.pull-right
  = link_to t('link.New'), new_packing_list_path, class: 'btn btn-primary'

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th= t('activerecord.attributes.packing_list.public')
      %th= t('activerecord.attributes.packing_list.updated_at')
      %th= t('activerecord.attributes.packing_list.image')
      %th= t('activerecord.attributes.packing_list.title')
      %th= t('activerecord.attributes.packing_list.comment')
      %th
      %th
      %th

  %tbody
    - @packing_lists.each do |packing_list|
      %tr
        %td= display_public(packing_list.public)
        %td= l packing_list.updated_at.to_date
        %td= image_tag packing_list.image.thumb
        %td= link_to packing_list.title, packing_list
        %td= packing_list.comment
        %td= link_to t('link.Edit'), edit_packing_list_path(packing_list)
        %td= link_to t('link.Copy'), copy_packing_list_path(packing_list)
        %td= link_to t('link.Destroy'), packing_list, method: :delete, data: { confirm: t('link.confirm.delete') }

