.row
  .col-sm-6
    %h2= @packing_list.title
    %p= simple_format(@packing_list.comment)
    %h4.margin-top-30
      = "合計：#{@packing_list.total_weight} g"
  .col-sm-6
    = image_tag @packing_list.image.eye_catch.url unless @packing_list.image.eye_catch.url.nil?
.row
  .col-sm-12
    %table.table.table-list
      %thead
        %tr
          %th
          %th= t('activerecord.attributes.gear.weight')
          %th= t('activerecord.attributes.gear.title')
          %th= t('activerecord.attributes.gear.name')
          %th= t('activerecord.attributes.gear.detail')
      %tbody
        - Category.all.each do |category|
          %tr
            %td{colspan: 5}
              %h4.margin-top-30
                = "#{category.name} ： #{@packing_list.total_weight_by_category(category)} g"
          - @packing_list.gears.by_category(category).each do |gear|
            %tr
              %td= link_to image_tag(gear.image.thumb.url, width: '60'), gear.image.url, data: {lightbox: 'gear-set', title: gear.title}
              %td.text-right
                = gear.weight
              %td= gear.title
              %td= gear.name
              %td= gear.detail
.row
  .col-sm-12
    %h3
      = "合計：#{@packing_list.total_weight} g"
  - if @packing_list.user == current_user
    = link_to t('link.Edit'), edit_packing_list_path(@packing_list), class: 'btn btn-primary'
    \|
    = link_to t('link.Index'), packing_lists_path
