.row
  .col-sm-6
    %h2= @packing_list.title
    %p= @packing_list.comment
    %h4.margin-top-30
      = "合計 ： #{@packing_list.total_weight} g"
  .col-sm-6
    = image_tag @packing_list.image.eye_catch

- if @packing_list.user == current_user
  .row
    %a.btn{"data-toggle" => "modal", :href => "#show_modal", :role => "button"} 持ち物選択

.row
  .col-sm-12
    %table.table.table-list
      %thead
        %tr
          %th
          %th= t('activerecord.attributes.gear.weight')
          %th= t('activerecord.attributes.gear.title')
          %th= t('activerecord.attributes.gear.name')
          %th= t('activerecord.attributes.gear.detail')
      %tbody
        - Category.all.each do |category|
          %tr
            %td{colspan: 5}
              %h4.margin-top-30
                = "#{category.name} ： #{@packing_list.total_weight_by_category(category)} g"
          - @packing_list.gears.by_category(category).each do |gear|
            %tr
              %td= image_tag gear.image.thumb, width: '60'
              %td= gear.weight
              %td= gear.title
              %td= gear.name
              %td= gear.detail
.row
  .col-sm-12
    %p
      = "合計 ： #{@packing_list.total_weight} g"

  - if @packing_list.user == current_user
    = link_to 'Edit', edit_packing_list_path(@packing_list)
    \|
    = link_to 'Back', packing_lists_path

#show_modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#modal_label 選択
      .modal-body
        %h4 テーマ
        %p メッセージ
      .modal-footer
        %button.btn{"data-dismiss" => "modal"} Close
        %button.btn.btn-primary Change