%h1 Listing gears
.gear-search
  = search_form_for @search, html: { class: 'form-inline text-right' } do |f|
    = f.input :category_id_eq, collection: Category.all, label: false, include_blank: true
    = f.input :name_cont, label: false, placeholder: '品名'
    = f.button :submit

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th= sort_link @search, :category_id, 'カテゴリ'
      %th Image
      %th
        = t('activerecord.attributes.gear.title')
      %th Name
      %th Detail
      %th= sort_link @search, :weight, '重量'
      %th Comment
      %th
      %th
      %th

  %tbody
    - @gears.each do |gear|
      %tr
        %td= gear.category.name
        %td= image_tag gear.image.thumb
        %td= gear.title
        %td= gear.name
        %td= gear.detail
        %td= gear.weight
        %td= gear.comment
        %td= link_to 'Show', gear
        %td= link_to 'Edit', edit_gear_path(gear)
        %td= link_to 'Destroy', gear, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Gear', new_gear_path
