%h2 道具一覧
= link_to '道具を登録する', new_gear_path, class: 'btn btn-primary'
.gear-search
  = search_form_for @search, html: { class: 'form-inline text-right' } do |f|
    = f.input :category_id_eq, collection: Category.all, label: false, include_blank: true
    = f.input :name_cont, label: false, placeholder: '品名'
    = f.button :submit

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th= sort_link @search, :category_id, t('activerecord.attributes.gear.category')
      %th= t('activerecord.attributes.gear.image')
      %th= t('activerecord.attributes.gear.title')
      %th= t('activerecord.attributes.gear.name')
      %th= t('activerecord.attributes.gear.detail')
      %th= sort_link @search, :weight, t('activerecord.attributes.gear.weight')
      %th= t('activerecord.attributes.gear.comment')
      %th
      %th
  %tbody
    - @gears.each do |gear|
      %tr
        %td= gear.category.name
        %td= image_tag gear.image.thumb
        %td= gear.title
        %td= gear.name
        %td= gear.detail
        %td= gear.weight
        %td= gear.comment
        %td= link_to t('link.Edit'), edit_gear_path(gear)
        %td= link_to t('link.Destroy'), gear, method: :delete, data: { confirm: t('link.confirm.delete') }

= link_to '道具を登録する', new_gear_path, class: 'btn btn-primary'
