%p#notice= notice

%table.table.table-bordered
  %tr
    %td
      = t('activerecord.attributes.gear.category')
    %td
      = @gear.category.name
  %tr
    %td
      = t('activerecord.attributes.gear.image')
    %td
      = image_tag @gear.image, width: '240'
  %tr
    %td
      = t('activerecord.attributes.gear.title')
    %td
      = @gear.title
  %tr
    %td
      = t('activerecord.attributes.gear.name')
    %td
      = @gear.name
  %tr
    %td
      = t('activerecord.attributes.gear.detail')
    %td
      = @gear.detail
  %tr
    %td
      = t('activerecord.attributes.gear.weight')
    %td
      = @gear.weight
  %tr
    %td
      = t('activerecord.attributes.gear.comment')
    %td
      = @gear.comment

= link_to t('link.Edit'), edit_gear_path(@gear)
\|
= link_to t('link.Back'), gears_path
