%p#notice= notice

%p
  %b Category:
  = @gear.category.name
%p
  %b Image:
  = image_tag @gear.image, width: '240'
%p
  %b Title:
  = @gear.title
%p
  %b Name:
  = @gear.name
%p
  %b Detail:
  = @gear.detail
%p
  %b Weight:
  = @gear.weight
%p
  %b Comment:
  = @gear.comment

= link_to 'Edit', edit_gear_path(@gear)
\|
= link_to 'Back', gears_path
